.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    .cart {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 0;
        width: 385px;
        height: 100%;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                    margin: 30 auto;
                    margin-left: 30px;
                    font-weight: 700;
                    font-size: 24px;
                }
            img {
                display: block;
                transform: rotate(45deg);
                cursor: pointer;
                scale: 1.5;
                margin-right: 50px;
            }
            
        }
        hr {
            border: 1px solid;
            color: #F3F3F3;
        }
        .middle {
            height: 75%;
            overflow-y: auto;
            scroll-snap-type: y proximity;
            .added-card-item {
                margin-bottom: 20px;
                
            }
        }
        .bottom {
            padding: 30px;
            padding-top: 0;
            .text_wrapper {
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}